body{
    background: #eaeaea;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar header{
    font-size: 110%;
    word-wrap: break-word;
}

#navbar{
    position: fixed;
    width: 20vw;
    font-size: 80%;
    overflow-y: scroll;
    height: 100%;
}

.nav-link{
    text-decoration: none;
    padding: 1rem;
    border: 1px black solid;
    word-wrap: break-word;
    font-size: 100%;
    display: block;
    color: #000000;
}

.nav-link:nth-child(even){
    background: #ddd;
}

.nav-link:hover{
    background: #111;
    color: #fff;
}


#slide-bar, #close-nav{
    display: none;
}

#main-doc header{
    font-size: 2rem;
    font-variant: small-caps;
    font-weight: bold;
    background: #111;
    color: #eaeaea
}

#main-doc{
    padding-left: 20.5vw;
    word-wrap: break-word;
}

/* mobile version */
@media(max-width: 768px){
    #slide-bar{
        position: fixed;
        top: 0;
        z-index: 1;
        color: white;
        background: #000000;
        width: 100vw;
        display: block;
    }

    #navbar{
        position: fixed;
        z-index: 1;
        background: #111;
        color: #eaeaea;
        width: 0;
        opacity: 0.95;
        overflow: scroll;
        height: 70%;
        padding-top: 2rem;
        transition: 0.4s;
    }    

    #navbar > header > h1{
        position: fixed;
        top: -0.9rem;
        left: 20vw;
        padding: 0;
        font-size: 140%;
        color: #fff;
    }

    #navbar h3{
        padding-left: 1rem;
        background: #444444;
    }

    #navbar h3:hover, #close-nav a:hover{
        background: coral;
    }

    .nav-link{
        display: block;
        color: #eaeaea;
    }

    .nav-link:nth-child(even){
        background: #000000;
    }

    .nav-link:hover{
        background: rgb(41, 72, 125);
        color: white;
    }
       
    #close-nav{
        display: inline;;
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 2rem;
        z-index: 34;
    }

    #close-nav a{
        color: #fff;
        text-decoration: none;
    }

    #main-doc{
        margin-left: -20vw;
        margin-top: 2.4rem;
        overflow-x: hidden;
        
    }

}