body{
    background: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar header{
    font-size: 110%;
    word-wrap: break-word;
}

#navbar{
    position: fixed;
    width: 20vw;
    font-size: 80%;
    overflow-y: scroll;
    height: 100%;
}

.nav-link{
    text-decoration: none;
    padding: 1rem;
    border: 1px black solid;
    word-wrap: break-word;
    font-size: 100%;
    display: block;
    color: #333;
    font-weight: bolder;
}

.nav-link:nth-child(even){
    background: #eaeaea;
}

.nav-link:hover{
    background: #999;
    color: #fff;
}

p{
    text-align: justify;
}

pre{
    padding: 0.3em;
    margin: 0.1em 2em;
    border-radius: 0.6rem;
    background: #eaeaea;
    overflow-x: auto;
}

#slide-bar, #close-nav{
    display: none;
}

#main-doc header{
    font-size: 2rem;
    font-variant: small-caps;
    font-weight: bold;
    background: #444444;
    color: #eaeaea
}

#main-doc{
    padding-left: 20vw;
    word-wrap: break-word;
}

#main-doc p,li{
    text-indent: 2rem;
    padding: 0.6rem 2rem;
}

h1{
    text-align: center;
}

.main-section header{
    text-align: center;
    padding: 1rem 0; 
}

#navbar a{
    font-size: 1.1rem;
}

footer{
    background: black;
}
footer p{
    color: white;
}

footer a{
    color: coral;
    text-decoration: none;
}

/* mobile version */
@media(max-width: 768px){
    #slide-bar{
        position: fixed;
        top: 0;
        z-index: 1;
        color: white;
        background: #000000;
        width: 100vw;
        display: block;
    }

    #navbar{
        position: fixed;
        z-index: 1;
        background: #111;
        color: #eaeaea;
        width: 0;
        opacity: 0.95;
        overflow: scroll;
        height: 70%;
        padding-top: 2rem;
        transition: 0.4s;
    }    

    #navbar > header > h1{
        position: fixed;
        top: -0.9rem;
        left: 20vw;
        padding: 0;
        font-size: 140%;
        color: #fff;
    }

    #navbar h3{
        padding-left: 1rem;
        background: #444444;
    }

    #navbar h3:hover, #close-nav a:hover{
        background: coral;
    }

    .nav-link{
        display: block;
        color: #eaeaea;
    }

    .nav-link:nth-child(even){
        background: #000000;
    }

    .nav-link:hover{
        background: rgb(41, 72, 125);
        color: white;
    }
       
    #close-nav{
        display: inline;;
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 2rem;
        z-index: 34;
    }

    #close-nav a{
        color: #fff;
        text-decoration: none;
    }

    #main-doc{
        margin-left: -20vw;
        margin-top: 2.4rem;
        overflow-x: hidden;
    }
    
    .main-section h1, .main-section header{
        font-size: 90%;
    }

    /* shift the code blocks to the left a bit on smaller screen */
    
    code{
        display: block;
        position: relative;
        right: 10em;
        font-size: 90%;
        margin: -2em 0 -3em 0; 
    }

}